*{
    margin: 0;
}

.ha{
    background-color: aqua;
    height: 25vh;
    width: 100vw;
}
.haha{
    background-color: rgb(92, 47, 253);
    height: 25vh;
    width: 100vw;
}
.hi{
    background-color: khaki;
    height: 25vh;
    width: 100vw;
}
.hihi{
    background-color: hotpink;
    height: 25vh;
    width: 100vw;
}