@font-face{
    font-family: 'A Butterfly On A Daffodil';
    src: url('abutterflyonadaffodil/AButterflyOnaDaffodil.ttf') format('truetype');
}

.p1{
    background-color: aqua;
}

.p2{
    background-color: blueviolet;
}

.somebody{
    color: burlywood;
}

.block{
    background-color: cyan;
    height: 200px;
    text-align: center;
    border: 2px solid #0000ff;
} 

.children{
    background-color: rgb(255, 152, 255);
    height: 200px;
    border: 3px solid cyan;
    width: 23.7%;
    font-family: 'A Butterfly On A Daffodil';
    font-size: 1em;
    display: inline-block;
}


@media screen and (max-width:768px){    
    .children{
        width: 48%;
        font-size: 1em;
        background-color: deeppink;    
    }
}


@media screen and (max-width:429px){    
    .children{
        width: 100%;
        font-size: 1em;
    }
}